DATABASE_URL="mongodb+srv://mayank_pandey:nuPMc1ikvJGZ2LTF@eduhub.pxeer8t.mongodb.net/solvehub?retryWrites=true&w=majority&appName=eduhub"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:8080
